<div class="container my-3">
    <% if @trips.empty? %>
      <p class="text-secondary fs-5"><i class="fa-solid fa-passport text-primary fs-5"></i> No trips yet! </p>
      <%= link_to 'Create your first trip', new_trip_path, class:'btn btn-blue'  %>
    <% else %>
  <div class="trips-cards">
      <% @trips.each do |trip| %>
        <%# <% destination = Trip::DESTINATIONS[trip.destination.to_sym]  %>
        <%# <% src = "https://source.unsplash.com/500x500/?#{destination}"  %>

        <div class="card-trip mb-3" style="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(<%= trip.image_url %>);">
          <div class="d-flex p-2 bg-light card-trip-top">
            <small class="flex-grow-1"><i class="fa-solid fa-hand-holding-dollar"></i> Budget: <%= trip.budget %></small>
            <%= link_to edit_booking_path(trip.booking), class:'mx-1' do %>
              <i class="fa-solid fa-square-pen btn-outline-blue fs-5 opacity-100"></i>
            <% end %>
            <%= link_to trip_path(trip),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash btn-outline-pink fs-5 opacity-100"></i>
            <% end %>
          </div>

          <%=link_to trip, class:"btn-white" do %>
            <div class="info p-3">
              <p class="m-0 fs-5"><strong><%= trip.name %></strong></p>
              <p><i class="fa-solid fa-plane-departure"></i> <%= trip.location %> to <%= trip.destination %> <i class="fa-solid fa-plane-arrival"></i></p>
              <p><i class="fa-solid fa-calendar-day"></i> <%= trip.start_date.strftime('%d/%b/%Y') %><i class="fa-solid fa-arrow-right"></i> <%= trip.end_date.strftime('%d/%b/%Y')  %> </p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
