<div class="container my-3">
  <div class="trips-cards">
    <% if @trips.empty? %>
      <p>No trips yet</p>
    <% else %>
      <% @trips.each do |trip| %>
        <% destination = Trip::DESTINATIONS[trip.destination.to_sym]  %>
        <% src = "https://source.unsplash.com/300x200/?#{destination}"  %>

        <div class="card-trip mb-3" style="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(<%= src %>); height: 200px; background-size: cover; color: white; border-radius: 0 0 85% 85% / 30%;">
          <div class="d-flex p-2 bg-light opacity-50">
            <small class="flex-grow-1 text-secondary"><i class="fa-solid fa-hand-holding-dollar"></i> Budget: <%= trip.budget %></small>
            <%= link_to edit_booking_path(trip.booking), class:'mx-1' do %>
              <i class="fa-solid fa-square-pen btn-outline-blue fs-5 opacity-100"></i>
            <% end %>
            <%= link_to trip_path(trip),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash btn-outline-pink fs-5 opacity-100"></i>
            <% end %>
          </div>

          <%=link_to trip, class:"btn-none" do %>
            <div class="info p-3">
              <p class="m-0"><%= trip.name %></p>
              <p><i class="fa-solid fa-plane-departure"></i><%= trip.location %> to <%= trip.destination %> <i class="fa-solid fa-plane-arrival"></i></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
