
<div data-controller="loading form">
  <div class="container my-4" data-loading-target= "form">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4 bg-light p-4 ">
        <h1>Create a trip</h1>
        <hr>
        <%= simple_form_for @trip, data: {
                        insert_in_list_target: "form",
                        action: "submit->loading#loader"
                      } do |f| %>
          <%= f.input :name, label:'Trip name', input_html: {class: "form-control form-control-sm box-form-smal" } %>
          <div class="w-100">
            <%= f.input :location, label:'From',
                      collection: DestinationAttr::DESTINATION,
                      input_html: { class: "select2 w-100" } %>
          </div>
          <div class="w-100">
            <%= f.input :destination, label:'To',
                      collection: DestinationAttr::DESTINATION,
                      input_html: { class: "select2 w-100" } %>
          </div>

          <div class="d-flex flex-direction-row justify-content-between row">
            <div class="col">
                <%= f.input :start_date, as: :string,
                                        required: true,
                                        input_html: {class: "datepicker form-control form-control-sm box-form-smal" } %>
            </div>
            <div class="col">
                <%= f.input :end_date, as: :string,
                                        required: true,
                                        input_html: {class: "datepicker form-control form-control-sm box-form-smal" } %>
            </div>
          </div>

          <div class="d-flex flex-direction-row justify-content-between row">
            <div class="input-box col">
              <%= f.label 'Number of adults:' %>
              <div class="d-flex flex-direction-row mt-2">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary btn-sm" id="minus-btn-left"><i class="fa fa-minus"></i></button>
                </div>
                <div class="w-100">
                  <%= f.input :adults, placeholder: '0', label: false, input_html: { id: "qty_input_ten", class: "quantity form-control form-control-sm", min: "1", max: "10", value: "1", type: "number" }  %>
                </div>
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary btn-sm" id="plus-btn-right"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>

            <div class="input-box col">
              <%= f.label 'Number of rooms:' %>
              <div class="d-flex flex-direction-row mt-2">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary btn-sm" id="minus-btn-left-2"><i class="fa fa-minus"></i></button>
                </div>
                <div class="w-100">
                  <%= f.input :rooms, placeholder: '1', label: false, input_html: { id: "qty_input_ten-2", class: "quantity form-control form-control-sm", min: "1", max: "10", value: "1", type: "number" }  %>
                </div>
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary btn-sm" id="plus-btn-right-2"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>

          <%# <div class="d-flex flex-direction-row justify-content-between row">
            <div class="input-box col">
              <%# <%= f.label 'Outbound flight class:' %>
              <%# <%= f.association :flight, Flight.all, :departure_class => "Outbound flight class", input_html: { class: "form-control form-control-sm" }, collection: ["first", "business", "premium_economy", "economy"]%>
              <%# <div class="d-flex flex-direction-row mt-2">
                <div class="w-100">
                  <%# <%= f.input :departure_class, label: false, input_html: { class: "form-control form-control-sm" }, collection: ["first", "business", "premium_economy", "economy"]  %>
                <%# </div>
              </div>
            </div>
          </div> %>

          <div class="d-flex flex-direction-row justify-content-between row">
            <div class="input-box col">
              <%= f.label 'Max budget in euros:' %>
              <div class="d-flex flex-direction-row mt-2">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary btn-sm" id="minus-budget-btn-left"><i class="fa fa-minus"></i></button>
                </div>
                <div class="w-100">
                  <%= f.input :budget, placeholder: '1000', label: false,
                              input_html: {
                                id: "qty_input_hundred",
                                class: "quantity form-control form-control-sm",
                                min: "1000",
                                max: "1000000",
                                value: "1000",
                                type: "number"
                                } %>
                </div>
                <div class="input-group-prepend">
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            id="plus-budget-btn-right"><i class="fa fa-plus"></i></button>
                    <%# <i class="fa-solid fa-euro-sign"></i> %>
                </div>
              </div>
            </div>
          </div>

          <%= f.submit "Send", class: "btn btn-blue mt-4" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="loading-box d-none" data-loading-target="circles">
    <div class="loading-circles">
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
    </div>
    <br>
    <div class="loading-text">
      <p>We are looking for your perfect trip...</p>
    </div>
  </div>
</div>
