 <div data-controller="loading form">
  <div class="container my-4" data-loading-target= "form">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4 bg-light p-4 ">
        <h1>Create a trip</h1>
        <hr>
        <%= simple_form_for @trip, data: {
                        insert_in_list_target: "form",
                        action: "submit->loading#loader"
                      } do |f| %>
          <%= f.input :name, label:'Trip name' %>
          <%= f.input :location, label:'From',
                      placeholder: 'Madri',
                      collection: { 'Londres' => 'LON',
                                    'Madri' => 'MAD',
                                    'Barcelona' => 'BCN',
                                    'Paris' => 'PAR',
                                    'Berlin' => 'BER',
                                    'New York' => 'NYC',
                                    'Lisbon' => 'LIS',
                                    'Milan' => 'MIL',
                                    'Rome' => 'ROM',
                                    'São Paulo' => 'SAO',
                                    'Rio de Janeiro' => 'RIO'} %>
          <%= f.input :destination, label:'To',
                      placeholder: 'London',
                      # input_html: { data}
                      collection: { 'Londres' => 'LON',
                                    'Madri' => 'MAD',
                                    'Barcelona' => 'BCN',
                                    'Paris' => 'PAR',
                                    'Berlin' => 'BER',
                                    'New York' => 'NYC',
                                    'Lisbon' => 'LIS',
                                    'Milan' => 'MIL',
                                    'Rome' => 'ROM',
                                    'São Paulo' => 'SAO',
                                    'Rio de Janeiro' => 'RIO'} %>
          <%= f.input :start_date, as: :string,
                                  required: true,
                                  input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string,
                                  required: true,
                                  input_html: {class: "datepicker"} %>

          <%= f.input :children, label: 'Number of children', input_html: { min: '1'} %>

          <div class="input-box">
            <%= f.label 'Number of adults:' %>
            <div class="d-flex flex-direction-row align-center justify-content-center mt-2">
              <div class="input-group-prepend" style="height: 2rem;">
                  <button type="button" class="btn btn-primary btn-sm" id="minus-btn-left"><i class="fa fa-minus"></i></button>
              </div>
              <div class="flex-direction-column">
                <%= f.input :adults, placeholder: '0', label: false, input_html: { id: "qty_input_ten", class: "quantity form-control form-control-sm", min: "1", max: "10", value: "1", type: "number", style: "width: 100px;"}  %>
              </div>
              <div class="input-group-prepend" style="height: 2rem;">
                  <button type="button" class="btn btn-primary btn-sm" id="plus-btn-right"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>

          <div class="input-box">
            <%= f.label 'Number of rooms:' %>
            <div class="d-flex flex-direction-row align-center justify-content-center mt-2">
              <div class="input-group-prepend" style="height: 2rem;">
                  <button type="button" class="btn btn-primary btn-sm" id="minus-btn-left-2"><i class="fa fa-minus"></i></button>
              </div>
              <div class="flex-direction-column">
                <%= f.input :rooms, placeholder: '1', label: false, input_html: { id: "qty_input_ten-2", class: "quantity form-control form-control-sm", min: "1", max: "10", value: "1", type: "number", style: "width: 100px;"}  %>
              </div>
              <div class="input-group-prepend" style="height: 2rem;">
                  <button type="button" class="btn btn-primary btn-sm" id="plus-btn-right-2"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>

          <div class="input-box">
            <%= f.label 'Max budget:' %>
            <div class="d-flex flex-direction-row align-center justify-content-center mt-2">
              <div class="input-group-prepend" style="height: 2rem;">
                  <button type="button" class="btn btn-primary btn-sm" id="minus-budget-btn-left"><i class="fa fa-minus"></i></button>
              </div>
              <div class="flex-direction-column">
                <%= f.input :rooms, placeholder: '0', label: false, input_html: { id: "qty_input_hundred", class: "quantity form-control form-control-sm", min: "1000", max: "1000000", value: "1000", type: "number", style: "width: 100px;"}  %>
              </div>
              <div class="input-group-prepend" style="height: 2rem;">
                  <button type="button" class="btn btn-primary btn-sm" id="plus-budget-btn-right"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <%= f.submit "Send", class: "btn btn-blue" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="loading-box d-none" data-loading-target="circles">
    <div class="loading-circles">
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
    </div>
    <br>
    <div class="loading-text">
      <p>We are looking for your perfect trip...</p>
    </div>
  </div>
</div>
