<div class="container my-4">
  <h1>Create a trip</h1>
  <hr>
  <%= simple_form_for @trip do |f|
  %>
    <%= f.input :name, label:'Trip name' %>
    <%= f.input :location, label:'From', placeholder: 'New York' %>
    <%= f.input :destination, label:'To',
                placeholder: 'London',
                # input_html: { data}
                collection: { 'Londres' => 'LON',
                              'Madri' => 'MAD',
                              'Paris' => 'PAR'} %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :adults, label: 'Number of adults', input_html: { min: '1'} %>
    <%= f.input :children, label: 'Number of children', input_html: { min: '1'} %>
    <%= f.input :rooms, label: 'Number of rooms', input_html: { min: '1'} %>
    <%= f.input :budget, label:'Max budget' %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
