<div class="container my-3">
  <h1><%= @trip.name %></h1>
  <hr>
  <div class="row justify-content-center">
    <div class="col-7 col-lg-4">
      <div class="card">
        <div class="card-header d-flex">
          <div class="flex-grow-1 text-info"><%= @trip.name %></div>
            <%= link_to edit_booking_path(@trip.booking), class:'mx-1' do %>
              <i class="fa-solid fa-square-pen btn-outline-blue fs-4"></i>
            <% end %>
            <%= link_to trip_path(@trip),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash btn-outline-pink fs-4"></i>
            <% end %>
        </div>
        <div class="card-body">
          <p><i class="fa-solid fa-hotel fs-3"></i> <%= @trip.booking.hotel.name  %> </p>
          <p> <i class="fa-solid fa-plane-departure fs-3"></i> N#<%= @trip.booking.flight.id %> </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <% destination = Trip::DESTINATIONS[@trip.destination.to_sym]  %>
      <img src="https://source.unsplash.com/150x150/?<%= destination %>" alt="Trip image" class="rounded-circle">
    </div>
  </div>

  <hr>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-10">
    <h3>Budget info <i class="fa-solid fa-money-bill-wheat text-info"></i></h3>

    <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Total Budget</td>
        <td> <strong><%= @trip.budget.round(1) %> <i class="fa-solid fa-dollar-sign"></i></strong></td>
      </tr>
      <tr>
        <td>Hotel</td>
        <td><%= @trip.booking.hotel.price %> <i class="fa-solid fa-dollar-sign"></i></td>
      </tr>
      <tr class="border-bottom border-dark">
        <td>Flight</td>
        <td><%= @trip.booking.flight.price.round(1) %> <i class="fa-solid fa-dollar-sign"></i></td>
      </tr>
      <tr>
        <td>Budget left</td>
        <td class="text-primary"><%= (@trip.budget - @trip.booking.flight.price - @trip.booking.hotel.price).round(1)  %> <i class="fa-solid fa-dollar-sign"></i></td>
      </tr>
    </tbody>
    </table>

    <%= link_to "Back", :back, class:'btn btn-pink' %>
    </div>
  </div>


</div>
