<div data-controller="edit-trip">

  <header>
    <div class="overlay">
      <h1 data-edit-trip-target="name" data-action="click->edit-trip#edit"><%= @trip.name %></h1>
      <%= simple_form_for @trip, data: {action: 'submit->edit-trip#update', edit_trip_target: 'form' }, html: { class:'d-none'} do |f| %>
        <div class="d-flex align-self-center align-items-end justify-content-center" >
          <%= f.input :name, label_html: { class: 'd-none' } %>
          <%= f.submit "Update name", class: "btn btn-blue mb-3" %>
        </div>
      <% end %>
      <img src="<%= @trip.image_url %>" alt="Trip image" class="rounded-circle">
    </div>
  </header>

  <div class="container my-3" >
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-4">
        <div class="my-4">
        <div class="d-flex">
          <h3 class="flex-grow-1">Booking <i class="fa-solid fa-bookmark text-info"></i></h3>
          <%= link_to edit_booking_path(@trip.booking), class:'mx-1' do %>
            <i class="fa-solid fa-square-pen btn-outline-blue fs-4"></i>
          <% end %>
          <%= link_to trip_path(@trip.booking),
                                method: :delete,
                                data: { confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash btn-outline-pink fs-4"></i>
          <% end %>
        </div>

          <div class="card-body">
            <p><i class="fa-solid fa-hotel fs-4"></i> <%= @trip.booking.hotel.name %>
            <% if @trip.booking.hotel.rate %>
              <% @trip.booking.hotel.rate.round(1).to_i.times do %>
                <i class="fa-solid fa-star text-info"> </i>
              <% end %> </p>
            <% else %>
              </p><small><p><i class="fa-solid fa-key"></i> This is the hotel you created!</p></small>
            <% end %>
            <%# <%= @trip.booking.flight.departure_departure %>
            <p> <i class="fa-solid fa-plane-departure fs-4"></i> <%= @trip.booking.flight.departure_departure %> / <%= @trip.booking.flight.departure_arrival %></p>
            <p> <i class="fa-solid fa-person fs-4"></i> <%= @trip.adults %> adult<small>(s)</small></p>
            <hr>
            <p><i class="fa-solid fa-calendar-day fs-4"></i> <%= @trip.start_date.strftime('%d/%b/%Y') %><i class="fa-solid fa-arrow-right"></i> <%= @trip.end_date.strftime('%d/%b/%Y')  %> </p>
          </div>
        </div>
        <%= link_to "Back", :back, class:'btn btn-pink mb-3' %>
      </div>

      <%# Budget table %>
      <div class="col-lg-4 col-sm-10 my-4">
        <h3>Budget info <i class="fa-solid fa-money-bill-wheat text-info"></i></h3>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>Total Budget</td>
              <td class="text-end"> <strong><%= @trip.budget.round(2) %> <i class="fa-solid fa-euro-sign"></i></strong></td>
            </tr>
            <tr>
              <td>Hotel</td>
              <td class="text-end"><i class="fa-solid fa-minus"></i><%= @trip.budgetHotel.round(2) %> <i class="fa-solid fa-euro-sign"></i></i></td>
            </tr>
            <tr class="border-bottom border-dark">
              <td>Flight</td>
              <td class="text-end"><i class="fa-solid fa-minus"></i><%= @trip.budgetFlight.round(2) %> <i class="fa-solid fa-euro-sign"></i></i></td>
            </tr>
            <tr>
              <td>Budget left</td>
              <% budget_left = (@trip.budget - @trip.budgetFlight - @trip.budgetHotel).round(2) %>
              <% days_left = (@trip.end_date - @trip.start_date).to_i %>
              <td class="text-end"><%= budget_left %> <i class="fa-solid fa-euro-sign"></i></td>
            </tr>
            <tr>
              <td class="text-warning">Budget left (per/day)</td>
              <td class="text-warning text-end"><i class="fa-solid fa-calendar-plus"></i> <%= (budget_left/days_left).round(2) %> <i class="fa-solid fa-euro-sign"></i> </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>

      <div class="col-12">
        <h3 class="text-center">Hotel <i class="fa-solid fa-bell-concierge text-info"></i></h3>
        <div class="d-flex justify-content-center align-self-center my-4 overlay">
          <img src="<%= @trip.booking.hotel.image_url %>" alt="Hotel image" class="rounded-circle">
          <div class="p-2 mx-2">
            <h4><%= @trip.booking.hotel.name %> </h4>
            <% if @trip.booking.hotel.rate %>
              <p><% @trip.booking.hotel.rate.round(1).to_i.times do %>
                <i class="fa-solid fa-star text-info"></i>
              <% end %>
              <small>(<%= @trip.booking.hotel.reviewCount %></small>)</p>
              <p class="my-0">Hotel Category: <%= @trip.booking.hotel.category %></p>
            <% else %>
              <p>This is the hotel you created!</p>
              <i class="fa-solid fa-key text-info"></i>
            <% end %>
          </div>
        </div>
      </div>

      <hr>

      <div class="col-12 text-center my-2">
        <h3 class="text-center">Flight <i class="fa-solid fa-ticket text-primary"></i></h3>
          <% if @trip.booking.flight.emissions.present? %>
            <div>
              <p class="m-0"><i class="fa-solid fa-seedling text-info"></i> Flights emissions: <%= @trip.booking.flight.emissions%> Kg</p>
            </div>
            <div class="card-flight-info">
              <div class="d-flex align-items-center flex-column">
                <div class="d-flex my-1 lign-items-center" > <%# ida %>
                  <div class="flight-avatar">
                    <div class="d-flex align-items-center"><%= image_tag(@trip.booking.flight.logo_departure_airline)%></div>
                  </div>
                  <div class="card-flight-text">
                    <h4 class="m-0"><%= @trip.booking.flight.departure_airline %></h4>
                    <p class="m-0"><%= (@trip.booking.flight.departure_class).capitalize %> class</p>
                    <p class="m-0"><i class="fa-regular fa-clock"></i> <%= @trip.booking.flight.departure_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= @trip.booking.flight.departure_end_time.to_formatted_s(:short) %></p>
                    <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= @trip.booking.flight.airport_departure_departure %></p>
                    <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= @trip.booking.flight.airport_departure_arrival %></p>
                    <p class="m-0"><i class="fa-solid fa-suitcase-rolling"></i></i> <%= @trip.booking.flight.departure_baggage %> bag(s) for each of the travelers</p>
                  </div>
                </div>
                <div class= "mx-3 arrow">
                  <%# codigo no cards_flights %>
                  <i class="fa-solid fa-arrow-down"></i>
                </div>
                <div class="d-flex my-1"> <%# volta %>
                  <div class="flight-avatar align-items-center">
                    <div class="d-flex align-items-center"><%= image_tag(@trip.booking.flight.logo_return_airline)%></div>
                  </div>
                  <div class="card-flight-text">
                    <h4 class="m-0"><%= @trip.booking.flight.return_airline %></h4>
                    <p class="m-0"><%= (@trip.booking.flight.return_class).capitalize %> class</p>
                    <p class="m-0"><i class="fa-regular fa-clock"></i> <%= @trip.booking.flight.return_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= @trip.booking.flight.return_end_time.to_formatted_s(:short) %></p>
                    <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= @trip.booking.flight.airport_return_departure %></p>
                    <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= @trip.booking.flight.airport_return_arrival %></p>
                    <p class="m-0"><i class="fa-solid fa-suitcase-rolling"></i></i> <%= @trip.booking.flight.return_baggage %> bag(s) for each of the travelers</p>
                  </div>
                </div>
              </div>
              <p class="m-0">Reservation code: <small class="text-info"><%= @trip.booking.flight.reservation_number %></small></p>
            </div>
          <% else %>
            <label class="btn btn-outline-secondary card-flight" for="flight-<%= @trip.booking.flight.id %>">
              <div class="my-3">
                <p class="m-0"><i class="fa-solid fa-key text-info"></i>This is the flight you created!</p>
              </div>
              <div class="card-flight-info">
                <div class="card-flight-left">
                  <div class="d-flex my-3 lign-items-center" > <%# ida %>
                    <div class="flight-avatar">
                      <div class="d-flex align-items-center"><i class="fa-solid fa-plane text-info"></i></div>
                    </div>
                    <div class="card-flight-text">
                      <p class="m-0"><%= @trip.booking.flight.departure_airline %></p>
                      <p class="m-0"><i class="fa-regular fa-clock"></i> <%= @trip.booking.flight.departure_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= @trip.booking.flight.departure_end_time.to_formatted_s(:short) %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= @trip.booking.flight.airport_departure_departure %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= @trip.booking.flight.airport_departure_arrival %></p>
                    </div>
                  </div>
                  <div class= "mx-3 arrow">
                    <%# codigo no cards_flights %>
                    <i class="fa-solid fa-arrow-down"></i>
                  </div>
                  <div class="d-flex my-3"> <%# volta %>
                    <div class="flight-avatar lign-items-center">
                      <div class="d-flex align-items-center"><i class="fa-solid fa-plane text-info"></i></div>
                    </div>
                    <div class="card-flight-text">
                      <p class="m-0"><%= @trip.booking.flight.return_airline %></p>
                      <p class="m-0"><i class="fa-regular fa-clock"></i> <%= @trip.booking.flight.return_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= @trip.booking.flight.return_end_time.to_formatted_s(:short) %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= @trip.booking.flight.airport_return_departure %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= @trip.booking.flight.airport_return_arrival %></p>
                    </div>
                  </div>
                </div>
                <div class="border-top fs-5">
                  <%= @trip.booking.flight.price %> <i class="fa-solid fa-euro-sign"></i>
                </div>
              </div>
            </label>
          <% end %>
      </div>
      <hr>

      <div class="col-12 text-center my-2">
        <h3 class="text-center">Activities in <%= Destination.find_by_code(@trip.destination).name %> <i class="fa-regular fa-compass text-info"></i></h3>
        <% if @trip.activities.present? %>
          <% cultural = @trip.activities.where("kinds @> ?", '{cultural}') %>
          <% if cultural.present? %>
          <h4 class="border-bottom border-info mt-3">Cultural</h4>
            <div class="trips-cards mt-2">
              <% cultural.first(6).each do |cultural_activity| %>
              <a href="<%= cultural_activity.link %>" target="_blank" class="decoration-none">
                <div class="card-trip mb-3" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(<%= cultural_activity.image %>);">
                  <p class="info p-3"><%= cultural_activity.name  %></p>
                  <% cultural_activity.rating.to_i.times do %>
                    <i class="fa-solid fa-star text-info"></i>
                  <% end %> </p>
                </div>
              </a>
              <% end %>
            </div>
          <% else %>
            <p>Sorry no cultural activities found <i class="fa-regular fa-face-sad-tear text-info"></i></p>
          <% end %>

          <h4 class="border-bottom border-info mt-3">Historic</h4>
          <% historic = @trip.activities.where("kinds @> ?", '{historic}') %>
          <% if historic.present? %>
            <div class="trips-cards mt-2">
              <% historic.first(6).each do |historic_activity| %>
              <a href="<%= historic_activity.link %>" target="_blank" class="decoration-none">
                <div class="card-trip mb-3" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(<%= historic_activity.image %>);">
                  <p class="info p-3"><%= historic_activity.name  %></p>
                  <% historic_activity.rating.to_i.times do %>
                    <i class="fa-solid fa-star text-info"></i>
                  <% end %> </p>
                </div>
              </a>
              <% end %>
            </div>
          <% else %>
            <p>Sorry no historic activities found <i class="fa-regular fa-face-sad-tear text-info"></i></p>
          <% end %>

          <h4 class="border-bottom border-info mt-3">Foods</h4>
          <% foods = @trip.activities.where("kinds @> ?", '{foods}') %>
          <% if foods.present? %>
            <div class="trips-cards mt-2">
              <% foods.first(6).each do |food_activity| %>
              <a href="<%= food_activity.link %>" target="_blank" class="decoration-none">
                <div class="card-trip mb-3" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(<%= food_activity.image %>);">
                <p class="info p-3"><%= food_activity.name  %></p>
                <% food_activity.rating.to_i.times do %>
                  <i class="fa-solid fa-star text-info"></i>
                <% end %> </p>
                </div>
              </a>
              <% end %>
            </div>
          <% else %>
          <p>Sorry no food activities found <i class="fa-regular fa-face-sad-tear text-info"></i></p>
          <% end %>
        <% else %>
          <p>Sorry no activities found <i class="fa-regular fa-face-sad-tear text-info"></i></p>
        <% end %>
      </div>

    </div>
  </div>
</div>
