<div class="container my-5">
  <h3> Edit <em><%= @booking.trip.name %></em></h3>
  <hr>
  <%= form_with url: @booking, method: :put do |form| %>
    <div class="cards-hotels my-3">
      <% @booking.trip.hotels.each_with_index do |hotel,index| %>
        <% if @booking.hotel.id == hotel.id %>
          <input type="radio" class="btn-check" name="hotels" id="hotel-<%= hotel.id %>" autocomplete="off" value="<%= hotel.id %>" checked>
        <% else %>
          <input type="radio" class="btn-check" name="hotels" id="hotel-<%= hotel.id %>" autocomplete="off" value="<%= hotel.id %>">
        <% end %>
         <label class="btn btn-outline-info label-hotels" for="hotel-<%= hotel.id %>">
          <%# <% search = ['hotel', 'hostel', 'room', 'city', 'bed', 'building', 'hostels', 'travel' ] %>
            <img src="<%= hotel.image_url %>" alt="Hotel image" class="rounded-circle">
            <p class="m-0"><strong><%= hotel.name %></strong></p>
             <% if hotel.category.present? && hotel.rate.present? %>
              <p class="m-0"><small><%= hotel.category %></small></p>
              <% hotel.rate.round(1).to_i.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            <% else %>
              <p class="m-0"><small>This is the hotel you created!</small></p>
              <i class="fa-solid fa-key text-info"></i>
            <% end %>
            <div class="border-top fs-5"><%= hotel.price %> <i class="fa-solid fa-euro-sign"></i></div>
          </label>
      <% end %>
      <div class="btn-corner">
        <%= link_to "I already have a hotel", new_trip_hotel_path(@booking.trip.id), class:'btn btn-pink-backwards' %>
      </div>
    </div>
    <hr>
    <div class="cards-flights my-3">
      <% @booking.trip.flights.each do |flight| %>
          <% if @booking.flight.id == flight.id %>
            <input type="radio" class="btn-check" name="flights" id="flight-<%= flight.id %>" autocomplete="off" value="<%= flight.id %>" checked >
          <% else %>
            <input type="radio" class="btn-check" name="flights" id="flight-<%= flight.id %>" autocomplete="off" value="<%= flight.id %>">
          <% end %>

          <% if flight.emissions.present? %>
            <label class="btn btn-outline-secondary card-flight" for="flight-<%= flight.id %>">
              <div class="my-3">
                <p class="m-0"><i class="fa-solid fa-seedling text-info"></i> Flights emissions: <%= flight.emissions%> Kg</p>
              </div>
              <div class="card-flight-info">
                <div class="card-flight-left">
                  <div class="d-flex my-3 lign-items-center" > <%# ida %>
                    <div class="flight-avatar">
                      <div class="d-flex align-items-center"><%= image_tag(flight.logo_departure_airline)%></div>
                    </div>
                    <div class="card-flight-text">
                      <p class="m-0"><%= flight.departure_airline %></p>
                      <p class="m-0"><i class="fa-regular fa-clock"></i> <%= flight.departure_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= flight.departure_end_time.to_formatted_s(:short) %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= flight.airport_departure_departure %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= flight.airport_departure_arrival %></p>
                    </div>
                  </div>
                  <div class="d-flex my-3"> <%# volta %>
                    <div class="flight-avatar lign-items-center">
                      <div class="d-flex align-items-center"><%= image_tag(flight.logo_return_airline)%></div>
                    </div>
                    <div class="card-flight-text">
                      <p class="m-0"><%= flight.return_airline %></p>
                      <p class="m-0"><i class="fa-regular fa-clock"></i> <%= flight.return_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= flight.return_end_time.to_formatted_s(:short) %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= flight.airport_return_departure %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= flight.airport_return_arrival %></p>
                    </div>
                  </div>
                </div>
                <div class="border-top fs-5">
                  <%= flight.price %> <i class="fa-solid fa-euro-sign"></i>
                </div>
              </div>
            </label>
          <% else %>
            <label class="btn btn-outline-secondary card-flight" for="flight-<%= flight.id %>">
              <div class="my-3">
                <p class="m-0"><i class="fa-solid fa-key text-info"></i>This is the flight you created!</p>
              </div>
              <div class="card-flight-info">
                <div class="card-flight-left">
                  <div class="d-flex my-3 lign-items-center" > <%# ida %>
                    <div class="flight-avatar">
                      <div class="d-flex align-items-center"><i class="fa-solid fa-plane text-info"></i></div>
                    </div>
                    <div class="card-flight-text">
                      <p class="m-0"><%= flight.departure_airline %></p>
                      <p class="m-0"><i class="fa-regular fa-clock"></i> <%= flight.departure_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= flight.departure_end_time.to_formatted_s(:short) %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= flight.airport_departure_departure %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= flight.airport_departure_arrival %></p>
                    </div>
                  </div>
                  <div class="d-flex my-3"> <%# volta %>
                    <div class="flight-avatar lign-items-center">
                      <div class="d-flex align-items-center"><i class="fa-solid fa-plane text-info"></i></div>
                    </div>
                    <div class="card-flight-text">
                      <p class="m-0"><%= flight.return_airline %></p>
                      <p class="m-0"><i class="fa-regular fa-clock"></i> <%= flight.return_start_time.to_formatted_s(:short) %> <i class="fa-solid fa-arrow-right"></i> <%= flight.return_end_time.to_formatted_s(:short) %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-departure"></i> <%= flight.airport_return_departure %></p>
                      <p class="m-0"><i class="fa-solid fa-plane-arrival"></i> <%= flight.airport_return_arrival %></p>
                    </div>
                  </div>
                </div>
                <div class="border-top fs-5">
                  <%= flight.price %> <i class="fa-solid fa-euro-sign"></i>
                </div>
              </div>
            </label>
          <% end %>
      <% end %>
    </div>

    <div class="my-3">
      <%= link_to "Back", :back, class:'btn btn-pink' %> |
      <input type="submit", value="Update", class="btn btn-blue">
    </div>

  <% end %>
</div>
