<div class="container my-5">
  <h3> Edit <em><%= @booking.trip.name %></em></h3>
  <hr>
  <%= form_with url: @booking, method: :put do |form| %>
    <div class="cards-hotels my-3">
      <% @booking.trip.hotels.each_with_index do |hotel,index| %>
          <% if @booking.hotel.id == hotel.id %>
            <input type="radio" class="btn-check" name="hotels" id="hotel-<%= hotel.id %>" autocomplete="off" value="<%= hotel.id %>" checked>
          <% else %>
            <input type="radio" class="btn-check" name="hotels" id="hotel-<%= hotel.id %>" autocomplete="off" value="<%= hotel.id %>">
          <% end %>
          <label class="btn btn-outline-info label-hotels" for="hotel-<%= hotel.id %>">
            <% search = ['hotel', 'hostel', 'room', 'city', 'bed', 'building', 'hostels', 'travel' ] %>
            <img src="https://source.unsplash.com/150x150/?<%= search[index] %>" alt="Hotel image" class="rounded-circle">
            <p class="m-0"><strong><%= hotel.name %></strong></p>
            <p class="m-0"><small><%= hotel.category %></small></p>
            <% hotel.rate.round(1).to_i.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <div class="border-top fs-5"><%= hotel.price %> <i class="fa-solid fa-euro-sign"></i></div>
          </label>
      <% end %>
    </div>
    <hr>
    <div class="cards-flights my-3">
      <% @booking.trip.flights.each do |flight| %>
          <% if @booking.flight.id == flight.id %>
            <input type="radio" class="btn-check" name="flights" id="flight-<%= flight.id %>" autocomplete="off" value="<%= flight.id %>" checked >
          <% else %>
            <input type="radio" class="btn-check" name="flights" id="flight-<%= flight.id %>" autocomplete="off" value="<%= flight.id %>">
          <% end %>
          <label class="btn btn-outline-secondary card-flight" for="flight-<%= flight.id %>">
            <p class="m-0"> Reservation code: <%= flight.reservation_number%></p>
            <p class="m-0"> Flights emissions: <%= flight.emissions%> Kg</p>
            <div class="card-flight-info">
              <div class="card-flight-left">
                <div class="d-flex my-3" > <%# ida %>
                  <div class="flight-avatar">
                    <%= image_tag(flight.logo_departure_airline)%>
                  </div>
                  <div>
                    <p class="m-0"><%= flight.departure_airline %></p>
                  </div>
                </div>
                <div class="d-flex my-3"> <%# volta %>
                  <div class="flight-avatar">
                    <%= image_tag(flight.logo_return_airline)%>
                  </div>
                  <div>
                    <p class="m-0"><%= flight.departure_airline %></p>
                  </div>
                </div>
              </div>
              <div class="border-top fs-5">
                <%= flight.price %> <i class="fa-solid fa-euro-sign"></i>
              </div>
            </div>
          </label>
      <% end %>
    </div>

    <%= link_to "Back", :back, class:'btn btn-pink' %> |
    <input type="submit", value="Update", class="btn btn-blue">

  <% end %>
</div>
 <%# ida %>
