<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(/assets/banner.jpg);">
  <div class="container">
    <h1><strong>EasyTravelly:</strong> travel without worries!</h1>
    <br>
    <%= link_to 'Sign up!',new_user_registration_path , class:'btn btn-flat btn-primary' %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="card-horizontal">
    <%= image_tag "woman_in_paris.jpg" %>
    <p>Uncomplicate and have fun in the process of putting together a trip and organizing it. Having all in one place.</p>
    <%= link_to 'Start now!', user_session_path , class:'btn btn-flat btn-primary' %>
  </div>
</div>

<div class="card-horizontal-blue justify-content-center">
  <div>
    <%= image_tag "all_in_one_place.jpg", class: "image-with-description" %>
    <p>All in one place</p>
  </div>
  <div>
    <%= image_tag "budget.jpg", class: "image-with-description" %>
    <p>Stick to your budget</p>
  </div>
  <div>
    <%= image_tag "friends_trip.jpg", class: "image-with-description" %>
    <p>Have fun without worry</p>
  </div>
</div>

<div class="container-carousel-home">
  <h3 class="text-center mt-5 mb-3 titling">Destaque em:</h3>
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade w-25 mx-auto carousel-home" data-bs-ride="true" data-aos="fade-left">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <%= image_tag 'logo_ny_times.png', class:"d-block mx-auto carousel-item-home", alt:'logo1'  %>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <%= image_tag 'logo_folha.png', class:"d-block mx-auto carousel-item-home", alt:'logo2'  %>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <%= image_tag 'logo_correio.png', class:"d-block mx-auto carousel-item-home", alt:'logo3'  %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
